<h1>Biblioteca do Israel</h1>
<p>Comprada do sr. Juvenal recentemente</p>

<ul>
<li><%=link_to "Livros",books_path %></li>
<li><%=link_to "Autores",authors_path %></li>
<li><%=link_to "Bibliotecários",librarians_path %></li>
<li><%=link_to "Reservas",reservations_path %></li>
<li><%=link_to "Usuários",users_path %></li>
</ul>
